@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Japanese", sans-serif;
  background-color: #d03c21;
}

img {
  width: 100%;
}

.App {
  margin: 0 25px;
  h1 {
    text-align: center;
    margin-top: 15px;
    font-size: 24px;
  }
  h1,
  h3 {
    color: #fffbda;
  }
  .menu_top-img {
    h3 {
      transform: rotate(-15deg);
      text-decoration: underline;
      font-weight: bold;
    }
    figure {
      img {
        border-radius: 10px;
      }
    }
  }
  .menu_top-para {
    color: #fffbda;
    h4,
    p {
      margin-top: 15px;
    }
  }
  .MenuList {
    margin-top: 30px;
    .wine_item {
      margin-bottom: 10px;
      background-color: #fffbda;
      border-radius: 5px;
      .img_holder {
        position: relative;
        overflow: hidden;
        height: 300px;
        img {
          border-radius: 5px 5px 0 0;
          vertical-align: bottom;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 1;
        }
      }
      .wine_info-wrapper {
        .wine_info {
          color: #d03c21;
          padding: 5px 10px;
          font-size: 12px;
          .wine_info-item {
            line-height: 1.5;
          }
          .name {
            font-weight: bold;
          }
        }
      }
    }
  }
  .menuBottom {
    width: 200px;
    .menu_button {
      position: fixed;
      bottom: 0;
      right: 16px;
      z-index: 3;
      button {
        text-align: center;
        width: 164px;
        border: none;
        background-color: #0654a4;
        border-radius: 5px;
        color: #fffbda;
        padding: 10px 15px;
        font-weight: bold;
        margin-bottom: 15px;
        letter-spacing: 0.05em;
      }
    }
  }
}
.filter_screen {
  transition: all 0.45s;
  background-color: #fffbda;
  position: fixed;
  top: 0;
  width: 200px;
  right: -200px;
  bottom: 0;
  z-index: 2;
  .button_container {
    max-width: 180px;
    margin: 0 auto;
    .button-list {
      margin: 0 8px;
      list-style: none;
      padding-top: 32px;
      .button-item {
        margin: 16px 0;
        .filter_btn {
          // color: #d03c21;
          width: 100%;
          // border: 2px solid #d03c21;
          // background-color: #fffbda;
          border-radius: 5px;
          padding: 16px 0;
          font-weight: bold;
        }
      }
    }
  }
}
.open {
  right: 0 !important;
}

// .active {
//   background-color: #d03c21;
//   color: #fffbda;
// }
